{% extends 'base.html.twig' %}

{% block title %}Characters{% endblock %}

{% block body %}
    {% for character in characters %}
        <div>
            <h2>{{ character.name }}</h2>
            <div>
                <div>
                    <h3>Force</h3>
                    <p>{{ character.strength }}</p>
                </div>
                <div>
                    <h3>Vitesse</h3>
                    <p>{{ character.speed }}</p>
                </div>
                <div>
                    <h3>Résistance</h3>
                    <p>{{ character.durability }}</p>
                </div>
                <div>
                    <h3>Energie</h3>
                    <p>{{ character.power }}</p>
                </div>
                <div>
                    <h3>Combat</h3>
                    <p>{{ character.combat }}</p>
                </div>
            </div>
        </div>
        <h4>Utilisateur : {{ character.user.username }}</h4>
    {% endfor %}
{% endblock %}
